*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: rgb(240, 237, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.attendance-table, .attendance-table th, .attendance-table td{
    border: 2px solid black;
    padding: 8px;
    margin-top: 30px;
}
.attendance-table{
    border-collapse: collapse;
    width: 80%;
}